.socialBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 125px;
  height: 40px;
  border-radius: 87.618px;
  cursor: pointer;
  transition: all 0.2s ease;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: none;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* .google {
  background: rgba(2, 12, 25, 0.4);
  border: 2px solid #5433ff;
  color: #fff;
} */

.google {
  position: relative;
  background: rgba(2, 12, 25, 0.4);
  color: #fff;
  border: none; /* ✅ important */
  z-index: 1;
}


.google::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 87.618px;
  padding: 1.8px; 
filter: blur(0.3px);

background: linear-gradient(
  to bottom,
  rgba(84, 51, 255, 0.6) 0%,
  rgba(84, 51, 255, 0.6) 35%,
  rgba(32, 189, 255, 0.6) 65%,
  rgba(32, 189, 255, 0.6) 100%
);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask-composite: exclude;

  pointer-events: none;
}


.google:hover {
  background: rgba(2, 12, 25, 0.6);
}

.apple {
  background: #fff;
  color: #000;

}

.apple:hover {
  background: rgba(255, 255, 255, 0.9);
}

.linkedin {
  background: #0077b5;
  color: #fff;
}

.linkedin:hover {
  background: #006aa3;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.label {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.icon svg {
  width: 100%;
  height: 100%;
}



.apple .icon svg {
  transform: scale(1.15);
}


.google .icon svg {
  transform: scale(0.9);
}


.linkedin .icon svg {
  transform: scale(0.7);
}

@media (max-width: 480px) {
  .socialBtn {
    width: 100%;
    height: 42px;
  }
}

